<div id="<%= dom_id recipe %>">
  <div>
    <strong>Name:</strong>
    <%= recipe.name %>
  </div>

  <div>
    <strong>Flour:</strong>
    <%= recipe.flour %>
  </div>

  <div>
    <strong>Sugar:</strong>
    <%= recipe.sugar %>
  </div>

  <div>
    <strong>Butter:</strong>
    <%= recipe.butter %>
  </div>

  <div>
    <strong>Eggs:</strong>
    <%= recipe.eggs %>
  </div>

  <div>
    <strong>Salt:</strong>
    <%= recipe.salt %>
  </div>

  <div>
    <strong>Result:</strong>
    <%= recipe.result %>
  </div>

</div>
